
{% if equiposintegrantes%}
  {% for integranteequipo in equiposintegrantes %}
    <tr>
      <td>{{ integranteequipo.idEquipo }}</td>
      <td>{{ integranteequipo.idIntegrante }}</td>
      <td>{{ integranteequipo.nombreEquipo }}</td>
      <td>
        <button class="btn btn-danger btn-end btnEliminarEquipo" data-id="{{ equipo.idEquipo }}">
          Eliminar
        </button>
      </td>
    </tr>
  {% endfor %}
{% else %}
  <tr>
    <td colspan="2">No hay registros</td>
  </tr>
{% endif %}

